In [1]:
import pandas as pd
import numpy as np

In [2]:
df_a = pd.read_csv("../csv_data/hee/배당금감소율여부.csv", thousands=",", encoding="CP949")
df_a.drop(columns=["Unnamed: 0"], inplace=True)

In [3]:
df_a.head(1)

        회사명  거래소코드    회계년도  배당금감소율여부
0  (주)CMG제약  58820  Dec-10         0

In [4]:
df_a["회계년도"] = pd.to_datetime(df_a['회계년도'].str.upper(), format="%b-%d", yearfirst=False).dt.strftime("20%d")
df_a.head(2)

        회사명  거래소코드  회계년도  배당금감소율여부
0  (주)CMG제약  58820  2010         0
1  (주)CMG제약  58820  2011         0

In [5]:
kill_2010 = df_a[df_a['회계년도'].str.contains("2010")].index
df_a = df_a.drop(kill_2010)
df_a.reset_index(drop=True, inplace=True)

In [6]:
# 일단 2010년 드랍까지만
df_a

            회사명  거래소코드  회계년도  배당금감소율여부
0      (주)CMG제약  58820  2011         0
1      (주)CMG제약  58820  2012         0
2      (주)CMG제약  58820  2013         0
3      (주)CMG제약  58820  2014         0
4      (주)CMG제약  58820  2015         0
...         ...    ...   ...       ...
17776   흥아해운(주)   3280  2015         0
17777   흥아해운(주)   3280  2016         1
17778   흥아해운(주)   3280  2017         0
17779   흥아해운(주)   3280  2018         1
17780   흥아해운(주)   3280  2019         0

[17781 rows x 4 columns]

In [7]:
df_b = pd.read_csv("../csv_data/hee/매출원가율감소여부.csv", thousands=",", encoding="CP949")
df_b.drop(columns=["Unnamed: 0"], inplace=True)

In [8]:
df_b.head(1)

,구분,코드,산업명,2011년,2011년.mid,2012년,2012년.mid,2012년 감소율,2013년,2013년.mid,...,2016년 감소율,2017년,2017년.mid,2017년 감소율,2018년,2018년.mid,2018년 감소율,2019년,2019년.mid,2019년 감소율
0,(주)CMG제약,58820,의료용 물질 및 의약품 제조업,58.17,41.73,71.66,41.84,-23.19,61.54,43.25,...,6.43,56.57,52.32,5.15,54.4,54.69,3.84,50.66,57.6,6.88

In [9]:
df_c = pd.read_csv("../csv_data/hee/직원감소율여부.csv", thousands=",", encoding="CP949")
# df_c["직원감소율여부"] = 0

In [10]:
df_c.head(1)

        회사명  거래소코드  2011  2012  2013  2014  2015  2016  2017  2018  2019
0  (주)CMG제약  58820     0     0     0     1     0     0     1     0     0

In [11]:
# count = 0

# for i in range(0, len(df_c)):
#     for j in range(2, len(df_c.columns)-1):
#         #print(df_c.iloc[i][j])
#         if df_c.iloc[i][j] > 0:
#             count += 1

#     if count != 0 :
#         df_c.loc[i, "직원감소율여부"] = 1
#     else :
#         df_c.loc[i, "직원감소율여부"] = 0

#     count = 0

In [12]:
# # 직원감소율 여부는 2011년~2019년 토탈로 따져서 계산함...일리가 ^^
# df_c.head(4)

In [13]:
df_d = pd.read_csv("../csv_data/hee/차입전략여부.csv", thousands=",", encoding="CP949")
df_d.drop(columns=["Unnamed: 0"], inplace=True)

In [14]:
# df_d["차입전략여부"] = 0

In [15]:
# count = 0

# for i in range(0, len(df_d)):
#     for j in range(3, len(df_d.columns)-1):
#         if df_d.iloc[i][j] > 0:
#             count += 1

#     if count != 0 :
#         df_d.loc[i, "차입전략여부"] = 1
#     else :
#         df_d.loc[i, "차입전략여부"] = 0

#     count = 0

In [16]:
# 이거도 일단 차입전략여부 토탈로 1,0 만들고
df_d.head(1)

,회사,코드,년도,2012년 감소율여부,2013년 감소율여부,2014년 감소율여부,2015년 감소율여부,2016년 감소율여부,2017년 감소율여부,2018년 감소율여부,2019년 감소율여부
0,(주)CMG제약,58820,비유동금융부채(*)(IFRS)(천원),0,0,0,0,0,0,0,1

In [17]:
# 총자산대비자본율 여부

df_e = pd.read_csv("../csv_data/hee/총자산대비자본율여부.csv", thousands=",", encoding="CP949" )
df_e

            회사명  거래소코드    회계년도 자본증가율여부(개별) 자본증가율여부(연결)
0      (주)CMG제약  58820  10-Dec           0           0
1      (주)CMG제약  58820  11-Dec           1           0
2      (주)CMG제약  58820  12-Dec           0           1
3      (주)CMG제약  58820  13-Dec           0           0
4      (주)CMG제약  58820  14-Dec           0           0
...         ...    ...     ...         ...         ...
19487   흥아해운(주)   3280  15-Dec     #DIV/0!     #DIV/0!
19488   흥아해운(주)   3280  16-Dec     #DIV/0!     #DIV/0!
19489   흥아해운(주)   3280  17-Dec     #DIV/0!     #DIV/0!
19490   흥아해운(주)   3280  18-Dec     #DIV/0!     #DIV/0!
19491   흥아해운(주)   3280  19-Dec     #DIV/0!     #DIV/0!

[19492 rows x 5 columns]

In [18]:
df_e["회계년도"] = pd.to_datetime(df_e['회계년도'].str.upper(), format="%d-%b", yearfirst=False).dt.strftime("20%d")
kill_2010 = df_e[df_e['회계년도'].str.contains("2010")].index
df_e = df_e.drop(kill_2010)
df_e.reset_index(drop=True, inplace=True)

In [19]:
df_e.head(1)

        회사명  거래소코드  회계년도 자본증가율여부(개별) 자본증가율여부(연결)
0  (주)CMG제약  58820  2011           1           0

In [20]:
# df_e.iloc[1][4]

In [21]:
df_e["자본증가율여부"] = 0

In [22]:
# 둘 중 하나 합치려고 하고 있으나 실패 중 -> 인덱스 문제였음 ㅇㅇ
for i in range(0, len(df_e)):
    #for j in range(3, 3):
        if not pd.isna(df_e.iloc[i][3]):
            if not pd.isna(df_e.iloc[i][4]):
                df_e.loc[i, "자본증가율여부"] = df_e.iloc[i][4]

            else:
                df_e.loc[i, "자본증가율여부"] = df_e.iloc[i][3]

        else:
            if not pd.isna(df_e.iloc[i][4]):
                df_e.loc[i, "자본증가율여부"] = df_e.iloc[i][4]

            else:
                pass

In [23]:
df_e

            회사명  거래소코드  회계년도 자본증가율여부(개별) 자본증가율여부(연결)  자본증가율여부
0      (주)CMG제약  58820  2011           1           0        0
1      (주)CMG제약  58820  2012           0           1        1
2      (주)CMG제약  58820  2013           0           0        0
3      (주)CMG제약  58820  2014           0           0        0
4      (주)CMG제약  58820  2015           0           1        1
...         ...    ...   ...         ...         ...      ...
17776   흥아해운(주)   3280  2015     #DIV/0!     #DIV/0!  #DIV/0!
17777   흥아해운(주)   3280  2016     #DIV/0!     #DIV/0!  #DIV/0!
17778   흥아해운(주)   3280  2017     #DIV/0!     #DIV/0!  #DIV/0!
17779   흥아해운(주)   3280  2018     #DIV/0!     #DIV/0!  #DIV/0!
17780   흥아해운(주)   3280  2019     #DIV/0!     #DIV/0!  #DIV/0!

[17781 rows x 6 columns]

In [24]:
# 남은 게 감소율인데... df_f도 df_e랑 원리는 같네?

df_f = pd.read_csv("../csv_data/hee/투자활동현금흐름감소율여부결측치0처리.csv", thousands=",", encoding="CP949")
df_f.drop(columns=["Unnamed: 0"], inplace=True)

In [25]:
df_f.head(1)

        회사명  거래소코드    회계년도  투자활동감소율여부(개별)  투자활동감소율여부(연결)
0  (주)CMG제약  58820  11-Dec              0              0

In [26]:
df_f["투자활동감소율여부"] = 0

In [27]:
# 둘 중 하나 합치려고 하고 있으나...
for i in range(0, len(df_f)):
    #for j in range(3, 3):
        if not pd.isna(df_f.iloc[i][3]):
            if not pd.isna(df_f.iloc[i][4]):
                df_f.loc[i, "투자활동감소율여부"] = df_f.iloc[i][4]

            else:
                df_f.loc[i, "투자활동감소율여부"] = df_f.iloc[i][3]

        else:
            if not pd.isna(df_f.iloc[i][4]):
                df_f.loc[i, "투자활동감소율여부"] = df_f.iloc[i][4]

            else:
                pass

In [28]:
df_f

            회사명  거래소코드    회계년도  투자활동감소율여부(개별)  투자활동감소율여부(연결)  투자활동감소율여부
0      (주)CMG제약  58820  11-Dec              0              0          0
1      (주)CMG제약  58820  12-Dec              1              1          1
2      (주)CMG제약  58820  13-Dec              0              0          0
3      (주)CMG제약  58820  14-Dec              0              0          0
4      (주)CMG제약  58820  15-Dec              0              0          0
...         ...    ...     ...            ...            ...        ...
17776   흥아해운(주)   3280  15-Dec              0              0          0
17777   흥아해운(주)   3280  16-Dec              1              1          1
17778   흥아해운(주)   3280  17-Dec              0              0          0
17779   흥아해운(주)   3280  18-Dec              0              0          0
17780   흥아해운(주)   3280  19-Dec              1              1          1

[17781 rows x 6 columns]

In [29]:
test_a = df_a.loc[0:5]
test_b = df_c.loc[0:0]

In [30]:
test_a["직원감소율여부"] = 0

C:\Users\luck1\AppData\Local\Temp\ipykernel_19056\1871286458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_a["직원감소율여부"] = 0

In [31]:
test_b

        회사명  거래소코드  2011  2012  2013  2014  2015  2016  2017  2018  2019
0  (주)CMG제약  58820     0     0     0     1     0     0     1     0     0

In [32]:
if test_a.iloc[0]["회사명"] == test_b.iloc[0]["회사명"]:
    if test_a.iloc[0]["회계년도"] == test_b.columns[2]:
        test_a.loc[0, "직원감소율여부"] = test_b.iloc[0][5]

In [33]:
test_a

        회사명  거래소코드  회계년도  배당금감소율여부  직원감소율여부
0  (주)CMG제약  58820  2011         0        1
1  (주)CMG제약  58820  2012         0        0
2  (주)CMG제약  58820  2013         0        0
3  (주)CMG제약  58820  2014         0        0
4  (주)CMG제약  58820  2015         0        0
5  (주)CMG제약  58820  2016         0        0

In [34]:
test_c = df_a.iloc[:, :3]
test_c

            회사명  거래소코드  회계년도
0      (주)CMG제약  58820  2011
1      (주)CMG제약  58820  2012
2      (주)CMG제약  58820  2013
3      (주)CMG제약  58820  2014
4      (주)CMG제약  58820  2015
...         ...    ...   ...
17776   흥아해운(주)   3280  2015
17777   흥아해운(주)   3280  2016
17778   흥아해운(주)   3280  2017
17779   흥아해운(주)   3280  2018
17780   흥아해운(주)   3280  2019

[17781 rows x 3 columns]

In [36]:
test_d = pd.read_csv("../raw_data/전체데이터_2011_코스피코스닥_v1.3.csv", thousands=",", encoding="CP949")
test_d = test_d.iloc[:, :3]
test_d

            회사명  거래소코드    회계년도
0      (주)CMG제약  58820  11-Dec
1      (주)CMG제약  58820  12-Dec
2      (주)CMG제약  58820  13-Dec
3      (주)CMG제약  58820  14-Dec
4      (주)CMG제약  58820  15-Dec
...         ...    ...     ...
15145   흥아해운(주)   3280  15-Dec
15146   흥아해운(주)   3280  16-Dec
15147   흥아해운(주)   3280  17-Dec
15148   흥아해운(주)   3280  18-Dec
15149   흥아해운(주)   3280  19-Dec

[15150 rows x 3 columns]

In [37]:
test_d["회계년도"] = pd.to_datetime(test_d['회계년도'].str.upper(), format="%d-%b", yearfirst=False).dt.strftime("20%d")
test_d

            회사명  거래소코드  회계년도
0      (주)CMG제약  58820  2011
1      (주)CMG제약  58820  2012
2      (주)CMG제약  58820  2013
3      (주)CMG제약  58820  2014
4      (주)CMG제약  58820  2015
...         ...    ...   ...
15145   흥아해운(주)   3280  2015
15146   흥아해운(주)   3280  2016
15147   흥아해운(주)   3280  2017
15148   흥아해운(주)   3280  2018
15149   흥아해운(주)   3280  2019

[15150 rows x 3 columns]

In [38]:
df_c.head(1)

        회사명  거래소코드  2011  2012  2013  2014  2015  2016  2017  2018  2019
0  (주)CMG제약  58820     0     0     0     1     0     0     1     0     0

In [43]:
df_c.iloc[0]["회사명"]

'(주)CMG제약'

In [52]:
for i in range(0, len(test_d)):
    for j in range(2, len(df_c.columns)-1):
        for k in range(0, len(df_c)):
            if test_d.iloc[i]["회사명"] == df_c.iloc[k]["회사명"]:
                if test_d.iloc[i]["회계년도"] == df_c.columns[j]:
                    test_d.loc[i, "직원감소율여부"] = df_c.iloc[k][j]

In [ ]:
test_d.head(10)

            회사명  거래소코드  회계년도  직원감소율여부
0      (주)CMG제약  58820  2011      0.0
1      (주)CMG제약  58820  2012      NaN
2      (주)CMG제약  58820  2013      NaN
3      (주)CMG제약  58820  2014      NaN
4      (주)CMG제약  58820  2015      NaN
...         ...    ...   ...      ...
15145   흥아해운(주)   3280  2015      NaN
15146   흥아해운(주)   3280  2016      NaN
15147   흥아해운(주)   3280  2017      NaN
15148   흥아해운(주)   3280  2018      NaN
15149   흥아해운(주)   3280  2019      NaN

[15150 rows x 4 columns]