In [203]:
import pandas as pd
import numpy as np

In [204]:
df_a = pd.read_csv("../csv_data/hee/배당금감소율여부.csv", thousands=",", encoding="CP949")
df_a.drop(columns=["Unnamed: 0"], inplace=True)

In [205]:
df_a.head(1)

        회사명  거래소코드    회계년도  배당금감소율여부
0  (주)CMG제약  58820  Dec-10         0

In [206]:
df_a["회계년도"] = pd.to_datetime(df_a['회계년도'].str.upper(), format="%b-%d", yearfirst=False).dt.strftime("20%d")
df_a.head(2)

        회사명  거래소코드  회계년도  배당금감소율여부
0  (주)CMG제약  58820  2010         0
1  (주)CMG제약  58820  2011         0

In [207]:
kill_2010 = df_a[df_a['회계년도'].str.contains("2010")].index
df_a = df_a.drop(kill_2010)
df_a.reset_index(drop=True, inplace=True)

In [208]:
# 일단 2010년 드랍까지만
df_a

            회사명  거래소코드  회계년도  배당금감소율여부
0      (주)CMG제약  58820  2011         0
1      (주)CMG제약  58820  2012         0
2      (주)CMG제약  58820  2013         0
3      (주)CMG제약  58820  2014         0
4      (주)CMG제약  58820  2015         0
...         ...    ...   ...       ...
17776   흥아해운(주)   3280  2015         0
17777   흥아해운(주)   3280  2016         1
17778   흥아해운(주)   3280  2017         0
17779   흥아해운(주)   3280  2018         1
17780   흥아해운(주)   3280  2019         0

[17781 rows x 4 columns]

In [209]:
df_b = pd.read_csv("../csv_data/hee/매출원가율감소여부.csv", thousands=",", encoding="CP949")
df_b.drop(columns=["Unnamed: 0"], inplace=True)

In [210]:
# 매출원가율감소 어떻게 붙이라는 걸까..

In [211]:
df_c = pd.read_csv("../csv_data/hee/직원감소율여부.csv", thousands=",", encoding="CP949")
df_c["직원감소율여부"] = 0

In [212]:
df_c.head(1)

,회사명,거래소코드,2011,2012,2013,2014,2015,2016,2017,2018,2019,직원감소율여부
0,(주)CMG제약,58820,0,0,0,1,0,0,1,0,0,0

In [213]:
count = 0

for i in range(0, len(df_c)):
    for j in range(2, len(df_c.columns)-1):
        #print(df_c.iloc[i][j])
        if df_c.iloc[i][j] > 0:
            count += 1

    if count != 0 :
        df_c.loc[i, "직원감소율여부"] = 1
    else :
        df_c.loc[i, "직원감소율여부"] = 0

    count = 0

In [214]:
# 직원감소율 여부는 2011년~2019년 토탈로 따져서 계산함...일리가 ^^
df_c.head(4)

,회사명,거래소코드,2011,2012,2013,2014,2015,2016,2017,2018,2019,직원감소율여부
0,(주)CMG제약,58820,0,0,0,1,0,0,1,0,0,1
1,(주)DB하이텍,990,0,0,0,0,0,0,0,0,0,0
2,(주)ES큐브,50120,0,0,0,0,1,0,0,0,0,1
3,(주)HJ중공업,97230,0,0,0,0,0,0,0,0,0,0

In [215]:
df_d = pd.read_csv("../csv_data/hee/차입전략여부.csv", thousands=",", encoding="CP949")
df_d.drop(columns=["Unnamed: 0"], inplace=True)

In [216]:
df_d["차입전략여부"] = 0

In [217]:
count = 0

for i in range(0, len(df_d)):
    for j in range(3, len(df_d.columns)-1):
        if df_d.iloc[i][j] > 0:
            count += 1

    if count != 0 :
        df_d.loc[i, "차입전략여부"] = 1
    else :
        df_d.loc[i, "차입전략여부"] = 0

    count = 0

In [218]:
# 이거도 일단 차입전략여부 토탈로 1,0 만들고
df_d.head(1)

,회사,코드,년도,2012년 감소율여부,2013년 감소율여부,2014년 감소율여부,2015년 감소율여부,2016년 감소율여부,2017년 감소율여부,2018년 감소율여부,2019년 감소율여부,차입전략여부
0,(주)CMG제약,58820,비유동금융부채(*)(IFRS)(천원),0,0,0,0,0,0,0,1,1

In [219]:
# 총자산대비자본율 여부

df_e = pd.read_csv("../csv_data/hee/총자산대비자본율여부.csv", thousands=",", encoding="CP949" )
df_e

            회사명  거래소코드    회계년도 자본증가율여부(개별) 자본증가율여부(연결)
0      (주)CMG제약  58820  10-Dec           0           0
1      (주)CMG제약  58820  11-Dec           1           0
2      (주)CMG제약  58820  12-Dec           0           1
3      (주)CMG제약  58820  13-Dec           0           0
4      (주)CMG제약  58820  14-Dec           0           0
...         ...    ...     ...         ...         ...
19487   흥아해운(주)   3280  15-Dec     #DIV/0!     #DIV/0!
19488   흥아해운(주)   3280  16-Dec     #DIV/0!     #DIV/0!
19489   흥아해운(주)   3280  17-Dec     #DIV/0!     #DIV/0!
19490   흥아해운(주)   3280  18-Dec     #DIV/0!     #DIV/0!
19491   흥아해운(주)   3280  19-Dec     #DIV/0!     #DIV/0!

[19492 rows x 5 columns]

In [220]:
df_e["회계년도"] = pd.to_datetime(df_e['회계년도'].str.upper(), format="%d-%b", yearfirst=False).dt.strftime("20%d")
kill_2010 = df_e[df_e['회계년도'].str.contains("2010")].index
df_e = df_e.drop(kill_2010)
df_e.reset_index(drop=True, inplace=True)

In [221]:
df_e.head(1)

        회사명  거래소코드  회계년도 자본증가율여부(개별) 자본증가율여부(연결)
0  (주)CMG제약  58820  2011           1           0

In [222]:
df_e.iloc[1][4]

'1'

In [223]:
df_e["자본증가율여부"] = 0

In [224]:
# 둘 중 하나 합치려고 하고 있으나 실패 중 -> 인덱스 문제였음 ㅇㅇ
for i in range(0, len(df_e)):
    #for j in range(3, 3):
        if not pd.isna(df_e.iloc[i][3]):
            if not pd.isna(df_e.iloc[i][4]):
                df_e.loc[i, "자본증가율여부"] = df_e.iloc[i][4]

            else:
                df_e.loc[i, "자본증가율여부"] = df_e.iloc[i][3]

        else:
            if not pd.isna(df_e.iloc[i][4]):
                df_e.loc[i, "자본증가율여부"] = df_e.iloc[i][4]

            else:
                pass

In [225]:
df_e

            회사명  거래소코드  회계년도 자본증가율여부(개별) 자본증가율여부(연결)  자본증가율여부
0      (주)CMG제약  58820  2011           1           0        0
1      (주)CMG제약  58820  2012           0           1        1
2      (주)CMG제약  58820  2013           0           0        0
3      (주)CMG제약  58820  2014           0           0        0
4      (주)CMG제약  58820  2015           0           1        1
...         ...    ...   ...         ...         ...      ...
17776   흥아해운(주)   3280  2015     #DIV/0!     #DIV/0!  #DIV/0!
17777   흥아해운(주)   3280  2016     #DIV/0!     #DIV/0!  #DIV/0!
17778   흥아해운(주)   3280  2017     #DIV/0!     #DIV/0!  #DIV/0!
17779   흥아해운(주)   3280  2018     #DIV/0!     #DIV/0!  #DIV/0!
17780   흥아해운(주)   3280  2019     #DIV/0!     #DIV/0!  #DIV/0!

[17781 rows x 6 columns]

In [226]:
# 남은 게 감소율인데... df_f도 df_e랑 원리는 같네?

df_f = pd.read_csv("../csv_data/hee/투자활동현금흐름감소율여부결측치0처리.csv", thousands=",", encoding="CP949")
df_f.drop(columns=["Unnamed: 0"], inplace=True)

In [227]:
df_f.head(1)

        회사명  거래소코드    회계년도  투자활동감소율여부(개별)  투자활동감소율여부(연결)
0  (주)CMG제약  58820  11-Dec              0              0

In [228]:
df_f["투자활동감소율여부"] = 0

In [229]:
# 둘 중 하나 합치려고 하고 있으나...
for i in range(0, len(df_f)):
    #for j in range(3, 3):
        if not pd.isna(df_f.iloc[i][3]):
            if not pd.isna(df_f.iloc[i][4]):
                df_f.loc[i, "투자활동감소율여부"] = df_f.iloc[i][4]

            else:
                df_f.loc[i, "투자활동감소율여부"] = df_f.iloc[i][3]

        else:
            if not pd.isna(df_f.iloc[i][4]):
                df_f.loc[i, "투자활동감소율여부"] = df_f.iloc[i][4]

            else:
                pass

In [230]:
df_f

            회사명  거래소코드    회계년도  투자활동감소율여부(개별)  투자활동감소율여부(연결)  투자활동감소율여부
0      (주)CMG제약  58820  11-Dec              0              0          0
1      (주)CMG제약  58820  12-Dec              1              1          1
2      (주)CMG제약  58820  13-Dec              0              0          0
3      (주)CMG제약  58820  14-Dec              0              0          0
4      (주)CMG제약  58820  15-Dec              0              0          0
...         ...    ...     ...            ...            ...        ...
17776   흥아해운(주)   3280  15-Dec              0              0          0
17777   흥아해운(주)   3280  16-Dec              1              1          1
17778   흥아해운(주)   3280  17-Dec              0              0          0
17779   흥아해운(주)   3280  18-Dec              0              0          0
17780   흥아해운(주)   3280  19-Dec              1              1          1

[17781 rows x 6 columns]

In [238]:
test_a = df_a.loc[0:5]
test_b = df_c.loc[0:0]

In [239]:
test_a["직원감소율여부"] = 0

C:\Users\luck1\AppData\Local\Temp\ipykernel_5004\1871286458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_a["직원감소율여부"] = 0

In [240]:
test_b

,회사명,거래소코드,2011,2012,2013,2014,2015,2016,2017,2018,2019,직원감소율여부
0,(주)CMG제약,58820,0,0,0,1,0,0,1,0,0,1

In [241]:
if test_a.iloc[0]["회사명"] == test_b.iloc[0]["회사명"]:
    if test_a.iloc[0]["회계년도"] == test_b.columns[2]:
        test_a.loc[0, "직원감소율여부"] = test_b.iloc[0][5]

In [242]:
test_a

        회사명  거래소코드  회계년도  배당금감소율여부  직원감소율여부
0  (주)CMG제약  58820  2011         0        1
1  (주)CMG제약  58820  2012         0        0
2  (주)CMG제약  58820  2013         0        0
3  (주)CMG제약  58820  2014         0        0
4  (주)CMG제약  58820  2015         0        0
5  (주)CMG제약  58820  2016         0        0