In [116]:
import pandas as pd
import numpy as np

In [117]:
df = pd.read_csv("../csv_data/test_1_한계.csv", thousands=',', encoding="CP949")
df

      Unnamed: 0       회사명  거래소코드    회계년도  이자보상배율
0              0  (주)DB하이텍    990  11-Dec   -0.75
1              1  (주)DB하이텍    990  12-Dec   -0.31
2              2  (주)DB하이텍    990  13-Dec   -0.16
3              3  (주)DB하이텍    990  14-Dec    0.67
4              4  (주)DB하이텍    990  15-Dec    2.50
...          ...       ...    ...     ...     ...
4372        4471   흥아해운(주)   3280  14-Dec    1.12
4373        4472   흥아해운(주)   3280  15-Dec    1.02
4374        4473   흥아해운(주)   3280  16-Dec    0.21
4375        4474   흥아해운(주)   3280  17-Dec   -0.42
4376        4475   흥아해운(주)   3280  18-Dec   -1.16

[4377 rows x 5 columns]

In [118]:
df.drop(columns=['거래소코드', 'Unnamed: 0'], inplace=True)

In [119]:
df['회계년도'] = pd.to_datetime(df['회계년도'].str.upper(), format="%d-%b", yearfirst=False).dt.strftime("%d")

In [120]:
df

           회사명 회계년도  이자보상배율
0     (주)DB하이텍   11   -0.75
1     (주)DB하이텍   12   -0.31
2     (주)DB하이텍   13   -0.16
3     (주)DB하이텍   14    0.67
4     (주)DB하이텍   15    2.50
...        ...  ...     ...
4372   흥아해운(주)   14    1.12
4373   흥아해운(주)   15    1.02
4374   흥아해운(주)   16    0.21
4375   흥아해운(주)   17   -0.42
4376   흥아해운(주)   18   -1.16

[4377 rows x 3 columns]

In [121]:
df2 = df.groupby(['회사명', '회계년도']).mean()
df2

               이자보상배율
회사명      회계년도
(주)DB하이텍 11     -0.75
         12     -0.31
         13     -0.16
         14      0.67
         15      2.50
...               ...
흥아해운(주)  14      1.12
         15      1.02
         16      0.21
         17     -0.42
         18     -1.16

[4377 rows x 1 columns]

In [122]:
df2['부실기업'] = 0

In [123]:
df2.index.names[0]

'회사명'

In [124]:
df2.index.values[0][0]

'(주)DB하이텍'

In [125]:
df2.values[2][0]

-0.16

In [126]:
f_company = [] # 한계기업을 저장하는 리스트
f_company_x = [] # 4년 연속 이자보상배율 1 미만인 기업 삽입
count = 0 # 한계기업 카운트용
company = 'x' # 한계기업 기록용

for i in range(0, len(df2)):
    
    # 회사명이 이미 기록된 상태에서 또 중복으로 적을 필요는 없습니다
    if company == df2.index.values[i][0]:
        # 다만 그 기업이 한계기업인데
        if count > 3:
            # 어머? 4년 연속이네요? 기록!!!
            if df2.values[i][0] < 1:
                f_company_x.append(company)
                count = 0

                # 반복문에서 볼일 다 끝났으니 통과합니다
                continue
        
        # 그게 아니라면 반복문을 통과합니다
        continue

    # 이자보상배율이 1 미만인 경우 카운트를 늘립니다
    if df2.values[i][0] < 1:
            count += 1
    # 도중에 이자보상배율이 1 미만이면 탈출합니다
    else:
        count = 0

    # 한계 기업 클럽에 오셨습니다. 환영합니다.
    if count == 3:
        company = df2.index.values[i][0]
        f_company.append(company)
        count += 1

In [127]:
df2

               이자보상배율  부실기업
회사명      회계년도
(주)DB하이텍 11     -0.75     0
         12     -0.31     0
         13     -0.16     0
         14      0.67     0
         15      2.50     0
...               ...   ...
흥아해운(주)  14      1.12     0
         15      1.02     0
         16      0.21     0
         17     -0.42     0
         18     -1.16     0

[4377 rows x 2 columns]

In [137]:
df_4 = df2.index.values[0].isin(f_company)
df_4

AttributeError: 'tuple' object has no attribute 'isin'

In [135]:
df2.index.values[0][0]

'(주)DB하이텍'

In [129]:
df_test = pd.DataFrame(f_company)
df_test

            0
0    (주)DB하이텍
1    (주)HJ중공업
2       (주)ST
3    (주)TCC스틸
4    (주)강원에너지
..        ...
471   현대로템(주)
472   현우산업(주)
473   휴림로봇(주)
474   휴마시스(주)
475   흥아해운(주)

[476 rows x 1 columns]

In [146]:
df_test[0].iloc[1]

'(주)HJ중공업'

In [149]:
df2.index.values[2][0]

'(주)DB하이텍'

In [143]:
for i in range(0, len(df2)):
    
    # 회사명을 이런 식으로 찾아야하나
    if df_test[0].iloc[i] == df2.index.values[i][0]:
        print(1)

1

IndexError: single positional indexer is out-of-bounds