In [72]:
import pandas as pd
import numpy as np

In [73]:
# 경고가 많아지면 곤란해서(? 짜증나서) 추가
import warnings
warnings.filterwarnings('ignore')

In [74]:
df = pd.read_csv("../../csv_data/use/00_real_real_real_true_data.csv", thousands=",", encoding="CP949")
#df.drop(columns=["Unnamed: 0"], inplace=True)

In [75]:
df

,회사명,거래소코드,회계년도,이자보상배율,총자산증가율,유형자산증가율,유동자산증가율,자기자본증가율,매출액증가율,매출액총이익율,...,매출원가감소율여부,배당금감소율여부,변화율여부,직원감소율여부,자본증가율여부,투자활동감소율여부,기업수명주기,통계청 한국표준산업분류 10차(세세분류),회생기업1,회생기업2
0,(주)CMG제약,58820,201112,3.53,1.98,-5.90,17.64,-2.02,56.40,41.83,...,1,0,0,0,0,0,1,의약품 제조업,0,0
1,(주)CMG제약,58820,201212,-7.75,109.15,-4.12,207.08,75.17,-8.43,28.34,...,0,0,0,0,1,1,1,의약품 제조업,0,0
2,(주)CMG제약,58820,201312,0.70,-2.09,16.09,-18.89,55.10,25.51,38.70,...,0,0,0,0,0,0,5,의약품 제조업,0,0
3,(주)CMG제약,58820,201412,3.60,3.86,74.30,-25.93,0.01,11.52,37.07,...,0,0,0,1,0,0,2,의약품 제조업,0,0
4,(주)CMG제약,58820,201512,-32.22,-2.64,-5.37,-7.17,-4.48,18.85,36.26,...,0,0,0,0,1,0,2,의약품 제조업,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8743,흥아해운(주),3280,201512,1.02,21.93,49.36,-11.18,3.39,2.42,6.20,...,0,0,0,0,0,0,3,외항 화물 운송업,0,0
8744,흥아해운(주),3280,201612,0.21,21.08,38.84,-25.08,11.22,-1.58,4.49,...,0,1,0,0,0,1,1,외항 화물 운송업,0,0
8745,흥아해운(주),3280,201712,-0.42,-11.43,-16.50,13.29,-39.28,0.56,2.09,...,0,0,0,0,0,0,1,외항 화물 운송업,0,0
8746,흥아해운(주),3280,201812,-1.16,-5.33,-12.07,-6.33,-37.42,-9.87,-0.93,...,0,1,0,0,0,0,5,외항 화물 운송업,0,0
8747,흥아해운(주),3280,201912,-0.55,-46.38,-51.51,-13.42,-57.73,-86.45,5.54,...,0,0,0,0,0,0,5,외항 화물 운송업,0,0

In [76]:
df2 = df[["회사명", "거래소코드", "회계년도", "이자보상배율"]]

In [77]:
df2

           회사명  거래소코드    회계년도  이자보상배율
0     (주)CMG제약  58820  201112    3.53
1     (주)CMG제약  58820  201212   -7.75
2     (주)CMG제약  58820  201312    0.70
3     (주)CMG제약  58820  201412    3.60
4     (주)CMG제약  58820  201512  -32.22
...        ...    ...     ...     ...
8743   흥아해운(주)   3280  201512    1.02
8744   흥아해운(주)   3280  201612    0.21
8745   흥아해운(주)   3280  201712   -0.42
8746   흥아해운(주)   3280  201812   -1.16
8747   흥아해운(주)   3280  201912   -0.55

[8748 rows x 4 columns]

In [78]:
# 다음 연도의 이자보상배율을 저장
df2['이보배2'] = df2['이자보상배율'].shift(-1).where(df2['회사명']==(df2['회사명']).shift(-1))
df2

           회사명  거래소코드    회계년도  이자보상배율    이보배2
0     (주)CMG제약  58820  201112    3.53   -7.75
1     (주)CMG제약  58820  201212   -7.75    0.70
2     (주)CMG제약  58820  201312    0.70    3.60
3     (주)CMG제약  58820  201412    3.60  -32.22
4     (주)CMG제약  58820  201512  -32.22  303.00
...        ...    ...     ...     ...     ...
8743   흥아해운(주)   3280  201512    1.02    0.21
8744   흥아해운(주)   3280  201612    0.21   -0.42
8745   흥아해운(주)   3280  201712   -0.42   -1.16
8746   흥아해운(주)   3280  201812   -1.16   -0.55
8747   흥아해운(주)   3280  201912   -0.55     NaN

[8748 rows x 5 columns]

In [79]:
# 부실징후기업의 경우 1, 아닌 경우 0을 기록
count = 0
company = df.iloc[0]['회사명']

for i in range(0, len(df)):
    if df.iloc[i]['이자보상배율'] < 1:
        df2.loc[i, '부실기업'] = 1
    else:
        df2.loc[i, '부실기업'] = 0

In [80]:
df2['부실기업'] = df2['부실기업'].fillna(0)

In [81]:
df2

           회사명  거래소코드    회계년도  이자보상배율    이보배2  부실기업
0     (주)CMG제약  58820  201112    3.53   -7.75   0.0
1     (주)CMG제약  58820  201212   -7.75    0.70   1.0
2     (주)CMG제약  58820  201312    0.70    3.60   1.0
3     (주)CMG제약  58820  201412    3.60  -32.22   0.0
4     (주)CMG제약  58820  201512  -32.22  303.00   1.0
...        ...    ...     ...     ...     ...   ...
8743   흥아해운(주)   3280  201512    1.02    0.21   0.0
8744   흥아해운(주)   3280  201612    0.21   -0.42   1.0
8745   흥아해운(주)   3280  201712   -0.42   -1.16   1.0
8746   흥아해운(주)   3280  201812   -1.16   -0.55   1.0
8747   흥아해운(주)   3280  201912   -0.55     NaN   1.0

[8748 rows x 6 columns]

In [82]:
df2['회생기업1'] = 0
df2['회생기업2'] = 0

In [83]:
# t+1 이상의 기업들 중 살아난 기업 찾기
t_one = []
count = 0
count_for_f = 0
company = df2.iloc[0]['회사명']

for i in range(0, len(df2)):

    if company != df2.iloc[i]['회사명']:
        company = df2.iloc[i]['회사명']
        count = 0
        count_for_f = 0
        #continue #is it?

    elif count > 0:
        continue

    if df2.iloc[i]['부실기업'] == 1:
        count_for_f += 1
    #else:
        #count_for_f = 0 

    # if count_for_f > 2:
        #continue

    # 위에 있는 continue 조건문 쓸거면 elif로 수정
    if df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] >= 1 and df2.iloc[i]['부실기업']== 1 and count_for_f == 1:
        df2.loc[i, '회생기업1'] = 1
        count += 1

    # elif count_for_f > 2:
    #     if df2.loc[i-1, '회생기업1'] == 1:
    #         df2.loc[i, '회생기업1'] = 1

In [84]:
df2

           회사명  거래소코드    회계년도  이자보상배율    이보배2  부실기업  회생기업1  회생기업2
0     (주)CMG제약  58820  201112    3.53   -7.75   0.0      0      0
1     (주)CMG제약  58820  201212   -7.75    0.70   1.0      0      0
2     (주)CMG제약  58820  201312    0.70    3.60   1.0      0      0
3     (주)CMG제약  58820  201412    3.60  -32.22   0.0      0      0
4     (주)CMG제약  58820  201512  -32.22  303.00   1.0      0      0
...        ...    ...     ...     ...     ...   ...    ...    ...
8743   흥아해운(주)   3280  201512    1.02    0.21   0.0      0      0
8744   흥아해운(주)   3280  201612    0.21   -0.42   1.0      0      0
8745   흥아해운(주)   3280  201712   -0.42   -1.16   1.0      0      0
8746   흥아해운(주)   3280  201812   -1.16   -0.55   1.0      0      0
8747   흥아해운(주)   3280  201912   -0.55     NaN   1.0      0      0

[8748 rows x 8 columns]

In [85]:
# t+2 이상의 기업들 중 살아난 기업 찾기

t_two = []
count = 0
company = df2.iloc[0]['회사명']

for i in range(0, len(df2)):

    if company != df2.iloc[i]['회사명']:
        company = df2.iloc[i]['회사명']
        count = 0
        #continue #is it?

    if df2.iloc[i]['회생기업1'] == 1:
        count += 1
        #t_two.append(df2.loc[i])
        continue

    # elif count == 1:
    #     if df2.iloc[i]['부실기업'] == 0:
    #         #t_two.append(df2.loc[i])
    #         count = 0

    # elif df2.iloc[i]['부실기업'] == 1:
    #     continue

    elif count >= 1:
        # 부실기업이 아니고 이자보상배율과 그 다음해 이자보상배율(이보배2)가 모두 1 이상으로 건실하다고 판단된 경우
        if df2.iloc[i]['부실기업'] == 0 and df2.iloc[i]['이자보상배율'] >= 1 and df2.iloc[i]['이보배2'] >= 1:
            #if df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] >= 1:
                df2.loc[i, "회생기업2"] = 1
        count += 1
        #t_two.append(df2.loc[i])
        continue

    # elif i == 0 :continue
    # elif df2.loc[i, '회사명'] == df2.loc[i-1, '회사명']:
    #     if df2.loc[i-1, '회생기업2'] == 1:
    #         df2.loc[i, '회생기업2'] = 1

In [86]:
# # t+2 이상의 기업들 중 살아난 기업 찾기 (구)
# # 숫자 2 이상으로 조절해서 나가시면 됩니다
# # 밑에 파일명 바꾸는 거 조심하시구요

# t_two = []
# count = 0
# company = df2.iloc[0]['회사명']

# for i in range(0, len(df2)):

#     if company != df2.iloc[i]['회사명']:
#         company = df2.iloc[i]['회사명']
#         count = 0
#         continue #is it?

#     if df2.iloc[i]['부실기업'] == 1:
#         count += 1
#         #t_two.append(df2.loc[i])
#         continue

#     elif count == 1:
#         if df2.iloc[i]['부실기업'] == 0:
#             #t_two.append(df2.loc[i])
#             count = 0

#     elif count == 2:
#         # 부실기업이 아니고 이자보상배율과 그 다음해 이자보상배율(이보배2)가 모두 1 이상으로 건실하다고 판단된 경우
#         if df2.iloc[i]['부실기업'] == 0 and df2.iloc[i]['이자보상배율'] >= 1 and df2.iloc[i]['이보배2'] >= 1:
#             #if df2.iloc[i]['이자보상배율'] < 1 and df2.iloc[i]['이보배2'] >= 1:
#                 df2.loc[i, "회생기업2"] = 1
#         count += 1
#         #t_two.append(df2.loc[i])
#         continue

#     else:
#         t_two.append(df2.loc[i])

In [87]:
df2['회생기업1'] = df2['회생기업1'].shift().where(df2['회사명']==(df2['회사명']).shift())
df2['회생기업2'] = df2['회생기업2'].shift().where(df2['회사명']==(df2['회사명']).shift())

In [88]:
df2

           회사명  거래소코드    회계년도  이자보상배율    이보배2  부실기업  회생기업1  회생기업2
0     (주)CMG제약  58820  201112    3.53   -7.75   0.0    NaN    NaN
1     (주)CMG제약  58820  201212   -7.75    0.70   1.0    0.0    0.0
2     (주)CMG제약  58820  201312    0.70    3.60   1.0    0.0    0.0
3     (주)CMG제약  58820  201412    3.60  -32.22   0.0    0.0    0.0
4     (주)CMG제약  58820  201512  -32.22  303.00   1.0    0.0    0.0
...        ...    ...     ...     ...     ...   ...    ...    ...
8743   흥아해운(주)   3280  201512    1.02    0.21   0.0    0.0    1.0
8744   흥아해운(주)   3280  201612    0.21   -0.42   1.0    0.0    0.0
8745   흥아해운(주)   3280  201712   -0.42   -1.16   1.0    0.0    0.0
8746   흥아해운(주)   3280  201812   -1.16   -0.55   1.0    0.0    0.0
8747   흥아해운(주)   3280  201912   -0.55     NaN   1.0    0.0    0.0

[8748 rows x 8 columns]

In [89]:
df2.to_csv("t회생시험4.csv", encoding="CP949")

In [90]:
# pd.DataFrame(t_one).to_csv("t_1.csv", encoding="CP949")

In [91]:
# pd.DataFrame(t_two).to_csv("t_2.csv", encoding="CP949")

In [92]:
df3 = df2.copy()
df3['회생기업1'] = df3['회생기업1'].fillna(0)
df3['회생기업2'] = df3['회생기업2'].fillna(0)

In [93]:
df3['회생기업1'].value_counts()

0.0    8375
1.0     373
Name: 회생기업1, dtype: int64

In [94]:
df3['회생기업2'].value_counts()

0.0    7811
1.0     937
Name: 회생기업2, dtype: int64